<div>
    <h1></h1>
    <mat-form-field appearance="outline">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar usuarios">
      </mat-form-field>
    <table mat-table [dataSource]="datasource" class="mat-elevation-z8">

        <!-- ID Column -->
        <ng-container matColumnDef="c1">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.idAlimentos}} </td>
        </ng-container>

        <!-- Nombre Column -->
        <ng-container matColumnDef="c2">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <!-- Calorías Column -->
        <ng-container matColumnDef="c3">
            <th mat-header-cell *matHeaderCellDef> Calorías </th>
            <td mat-cell *matCellDef="let element"> {{element.calorias}} </td>
        </ng-container>

        <!-- Proteínas Column -->
        <ng-container matColumnDef="c4">
            <th mat-header-cell *matHeaderCellDef> Proteínas </th>
            <td mat-cell *matCellDef="let element"> {{element.proteinas}} </td>
        </ng-container>

        <!-- Carbohidratos Column -->
        <ng-container matColumnDef="c5">
            <th mat-header-cell *matHeaderCellDef> Carbohidratos </th>
            <td mat-cell *matCellDef="let element"> {{element.carbohidratos}} </td>
        </ng-container>

        <!-- Grasas Column -->
        <ng-container matColumnDef="c6">
            <th mat-header-cell *matHeaderCellDef> Grasas </th>
            <td mat-cell *matCellDef="let element"> {{element.grasas}} </td>
        </ng-container>

        <!-- Dieta Column -->
        <ng-container matColumnDef="c7">
            <th mat-header-cell *matHeaderCellDef> Dieta </th>
            <td mat-cell *matCellDef="let element"> {{element.dieta?.nombre}} </td> 
        </ng-container>

        <!-- Receta Column -->
        <ng-container matColumnDef="c8">
            <th mat-header-cell *matHeaderCellDef> Receta </th>
            <td mat-cell *matCellDef="let element"> {{element.receta?.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="accion01">
            <th mat-header-cell *matHeaderCellDef> Eliminar </th>
            <td mat-cell *matCellDef="let element" (click)="eliminar(element.idAlimentos)">
              <mat-icon style="color: #8A47EB">delete</mat-icon>
            </td>
          </ng-container>
    
          <ng-container matColumnDef="accion02">
            <th mat-header-cell *matHeaderCellDef> Actualizar </th>
            <td mat-cell *matCellDef="let element">
              <button mat-raised-button [routerLink]="['ediciones', element.idAlimentos]">
                <mat-icon style="color: #8A47EB">edit</mat-icon>
              </button>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <ng-template #noRecords>
      <div style="text-align: center; color: gray; font-style: italic; margin-top: 20px;">
        No hay roles registradas.
      </div>
      
    </ng-template>
    <div style="margin-top: 10px;">
      Total de registros: {{ contador}}
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
