<div>
    <mat-form-field appearance="outline">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar usuarios">
      </mat-form-field>
    <table mat-table [dataSource]="datasource" class="mat-elevation-z8">

        <!-- ID Column -->
        <ng-container matColumnDef="c1">
            <th mat-header-cell *matHeaderCellDef> IdConsulta </th>
            <td mat-cell *matCellDef="let element"> {{element.idComida}} </td>
        </ng-container>

        <!-- FechaConsulta Column -->
        <ng-container matColumnDef="c2">
            <th mat-header-cell *matHeaderCellDef> FechaConsulta </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <!-- Asunto Column -->
        <ng-container matColumnDef="c3">
            <th mat-header-cell *matHeaderCellDef> Asunto </th>
            <td mat-cell *matCellDef="let element"> {{element.calorias}} </td>
        </ng-container>

        <!-- Descripcion Column -->
        <ng-container matColumnDef="c4">
            <th mat-header-cell *matHeaderCellDef> Descripcion </th>
            <td mat-cell *matCellDef="let element"> {{element.proteinas}} </td>
        </ng-container>

       
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
