<div class="table-container">
  <mat-form-field appearance="fill">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar respuestas">
  </mat-form-field>

  <table mat-table [dataSource]="datasource" matSort>
    <ng-container matColumnDef="fechaRespuesta">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Respuesta </th>
      <td mat-cell *matCellDef="let respuesta"> {{ respuesta.fechaRespuesta | date }} </td>
    </ng-container>

    <ng-container matColumnDef="asunto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Asunto </th>
      <td mat-cell *matCellDef="let respuesta"> {{ respuesta.asunto }} </td>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
      <td mat-cell *matCellDef="let respuesta"> {{ respuesta.descripcion }} </td>
    </ng-container>

    <!-- Si quieres mostrar el idConsulta -->
    <ng-container matColumnDef="idConsulta">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID Consulta </th>
      <td mat-cell *matCellDef="let respuesta"> {{ respuesta.consulta.id }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
