<!DOCTYPE html>
<html lang="es-ES" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FitFat</title>
  </head>
  <body>
    <section class="home-section home-parallax home-fade" id="home">
      <div class="hero-slider">
        <ul class="slides">
          <!-- Diapositiva 1 -->
          <li class="bg-dark-30 bg-dark" style="background-image: url('assets/img/fondo2.jpg');">
            <div class="titan-caption">
              <div class="caption-content">
                <div class="font-alt mb-30 titan-title-size-1">Bienvenido a FitFat</div>
                <div class="font-alt mb-40 titan-title-size-4">Controla tus calorías</div>
              </div>
            </div>
          </li>
          <!-- Diapositiva 2 -->
          <li class="bg-dark-30 bg-dark" style="background-image: url('assets/img/fondo3.jpg');">
            <div class="titan-caption">
              <div class="caption-content">
                <div class="font-alt mb-30 titan-title-size-2">
                  Planes de entrenamiento y nutrición<br />
                  a tu medida
                </div>
              </div>
            </div>
          </li>
          <!-- Diapositiva 3 -->
          <li class="bg-dark-30 bg-dark" style="background-image: url('assets/img/fondo4.jpg');">
            <div class="titan-caption">
              <div class="caption-content">
                <div class="font-alt mb-30 titan-title-size-1">Alcanza tus metas</div>
                <div class="font-alt mb-40 titan-title-size-3">Con FitFat</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
