<div class="container" style="text-align: center">
    <div class="container-title">
        <p class="title">{{ edicion ? 'Actualizar Rol' : 'Registrar Rol' }}</p>
      </div>
    <div>
      <form [formGroup]="form" (ngSubmit)="insertar()">
        
        <!-- Descripción -->
        <mat-form-field appearance="fill">
          <mat-label>Descripción</mat-label>
          <input matInput formControlName="rdescripcion" required />
          <mat-error *ngIf="form.get('rdescripcion')?.hasError('required')">La descripción es obligatoria</mat-error>
        </mat-form-field>
        <br />
  
        <!-- Comida -->
        <mat-form-field appearance="fill">
          <mat-label>Usuario</mat-label>
          <mat-select  formControlName="rusuario">
            @for (food of listaUsuario; track food) {
            <mat-option [value]="food.idUsuario">{{ food.nombre }}</mat-option>
            }
          </mat-select>
          <mat-error *ngIf="form.get('rusuario')?.hasError('required')">Por favor elija un usuario</mat-error>
        </mat-form-field>
      <br />
        
        <div>
          
          <button mat-flat-button color="primary" class="custom-button">
            {{ edicion ? 'Actualizar' : 'Registrar' }}
          </button>          
          <button *ngIf="edicion" mat-flat-button color="warn" class="custom-button2" (click)="cancelar()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
  

