<div class="container" style="text-align: center; margin: 5%;">
    <div class="container-title">
        <p class="title">{{ edicion ? 'Actualizar Dieta' : 'Registrar Dieta' }}</p>
      </div>
    <div>
        <form [formGroup]="form" (submit)="insertar()">
            <mat-form-field class="example-full-width">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre de la dieta" formControlName="fnombre">
            </mat-form-field>
            <br />
            <mat-form-field>
                <mat-label>Duración (en días)</mat-label>
                <input matInput type="number" placeholder="Duración" formControlName="fduracion">
            </mat-form-field>
            <br />
            <mat-form-field>
                <mat-label>Usuario</mat-label>
                <mat-select  formControlName="fusuario">
                  @for (food of listaUsuarios; track food) {
                  <mat-option [value]="food.idUsuario">{{ food.nombre }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            <br />
            <div>
                <button mat-flat-button color="primary" class="custom-button">{{ edicion ? 'Actualizar' : 'Registrar' }}</button>
                <button *ngIf="edicion" mat-flat-button color="warn" class="custom-button2" (click)="cancelar()">Cancelar</button>
            </div>
        </form>
    </div>
</div>
