<div>
    <div class="container-title">
        <p class="title">Listar Comidas</p>
      </div>
    <mat-form-field appearance="outline">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar usuarios">
      </mat-form-field>
    <table mat-table [dataSource]="datasource" class="mat-elevation-z8">

        <!-- ID Column -->
        <ng-container matColumnDef="c1">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.idComida}} </td>
        </ng-container>

        <!-- Nombre Column -->
        <ng-container matColumnDef="c2">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <!-- Calorías Column -->
        <ng-container matColumnDef="c3">
            <th mat-header-cell *matHeaderCellDef> Calorías </th>
            <td mat-cell *matCellDef="let element"> {{element.calorias}} </td>
        </ng-container>

        <!-- Proteínas Column -->
        <ng-container matColumnDef="c4">
            <th mat-header-cell *matHeaderCellDef> Proteínas </th>
            <td mat-cell *matCellDef="let element"> {{element.proteinas}} </td>
        </ng-container>

        <!-- Carbohidratos Column -->
        <ng-container matColumnDef="c5">
            <th mat-header-cell *matHeaderCellDef> Carbohidratos </th>
            <td mat-cell *matCellDef="let element"> {{element.carbohidratos}} </td>
        </ng-container>

        <!-- Grasas Column -->
        <ng-container matColumnDef="c6">
            <th mat-header-cell *matHeaderCellDef> Grasas </th>
            <td mat-cell *matCellDef="let element"> {{element.grasas}} </td>
        </ng-container>

        <!-- Descripción Column -->
        <ng-container matColumnDef="c7">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>

        <!-- Comida Favorita Column -->
        <ng-container matColumnDef="c8">
            <th mat-header-cell *matHeaderCellDef> Favorita </th>
            <td mat-cell *matCellDef="let element"> {{element.comiFavo ? 'Sí' : 'No'}} </td>
        </ng-container>

        <!-- Usuario Column -->
        <ng-container matColumnDef="c9">
            <th mat-header-cell *matHeaderCellDef> Usuario </th>
            <td mat-cell *matCellDef="let element"> {{element.usuario?.nombre}} </td>
        </ng-container>

        <!-- Tipo de Comida Column -->
        <ng-container matColumnDef="c10">
            <th mat-header-cell *matHeaderCellDef> Tipo de Comida </th>
            <td mat-cell *matCellDef="let element"> {{element.tipoComida?.descripcion}} </td>
        </ng-container>

        <ng-container matColumnDef="accion01">
            <th mat-header-cell *matHeaderCellDef> Eliminar </th>
            <td mat-cell *matCellDef="let element" (click)="eliminar(element.idComida)">
              <mat-icon style="color: #8A47EB">delete</mat-icon>
            </td>
          </ng-container>
    
          <ng-container matColumnDef="accion02">
            <th mat-header-cell *matHeaderCellDef> Actualizar </th>
            <td mat-cell *matCellDef="let element">
              <button mat-raised-button [routerLink]="['ediciones', element.idComida]">
                <mat-icon style="color: #8A47EB">edit</mat-icon>
              </button>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
