<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="Fabricio Prado" content="U202219531"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/hoja.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/eleganticons@0.0.1/css/style.min.css" rel="stylesheet">        
    <link href="https://cdn.jsdelivr.net/npm/simple-line-icons@2.5.5/css/simple-line-icons.min.css" rel="stylesheet">
    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <title>FitfatLP</title>
</head>
    <body data-spy="scroll" data-target="#navmenu" data-offset="70">
        <header id="header" class="header_section">
            <div class="container">
                <nav class="navbar d-flex align-items-center justify-content-between">
                    <a href="#" class="navbar-brand"><img src="assets/img/logo.png" alt="Fitfat"></a>
                    <div id="navmenu" class="mainmenu">
                        <ul class="nav">
                            <li><a data-scroll class="nav-link active" href="#home">Home <span class="sr-only">(current)</span></a></li>
                            <li><a data-scroll class="nav-link" href="#features">Features</a></li>
                            <li><a data-scroll class="nav-link" href="#screenshots">Screenshots</a></li>
                            <li><a data-scroll class="nav-link" href="#reviews">Reviews</a></li>
                            <li><a data-scroll class="nav-link" href="#pricing">Pricing</a></li>
                            <li><a data-scroll class="nav-link" href="#download">Download</a></li>
                        </ul>
                    </div>
                    <ul class="nav">
                        <li><a data-scroll class="nav-link" href="/login">Iniciar sesión</a></li>
                    </ul>                    
                </nav>
            </div>
        </header>
        
        <section id="home" class="hero_section gradiant padding">
            <div class="display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="hero_content">
                            <h1>Potencia tu viaje fitness <br> con FitFat</h1>
                            <p>Facilita tu jornada con el conteo de calorías
                                y seguimiento de comidas. <br> Ha sido un sólido compañero fitness durante siglos.</p>
                            <div class="download_btn">
                                <a href="#"><img src="assets/img/apple.png" alt></a>
                                <a href="#"><img src="assets/img/android.png" alt></a>
                            </div>
                        </div>
                    </div>
                    <div class="hero_mockup d-none d-md-block"></div>
                </div>
            </div>
        </section>
        <section id="team" class="team-section bd-bottom padding">
		    <div class="container">
                <div class="section-heading mb-60 text-center wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1000ms">
		            <h2>Developers</h2>
		            <p>Nuestros expertos en desarrollo web
                        aportan soluciones innovadoras <br>que perduran y evolucionan
                        en la era digital actual.</p>
		        </div>
		        <div class="row">
		            <div class="col-md-3 col-sm-6 xs-padding wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1000ms">
		                <div class="team-box text-center">
                            <div class="team-thumb">
                                <img src="assets/img/fab.jpg" alt="img">
                            </div>
		                    <div class="team-content">
		                        <h3>Fabricio Prado</h3>
		                        <span>Designer</span>
		                    </div>
		                </div>
		            </div><!-- Team-1 -->
		            <div class="col-md-3 col-sm-6 xs-padding wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms">
		                <div class="team-box text-center">
                            <div class="team-thumb">
                                <img src="assets/img/fab.jpg" alt="img">
                            </div>
		                    <div class="team-content">
		                        <h3>Fabricio Prado</h3>
		                        <span>Javascript</span>
		                    </div>
		                </div>
		            </div><!-- Team-1 -->
		            <div class="col-md-3 col-sm-6 xs-padding wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1000ms">
		                <div class="team-box text-center">
                            <div class="team-thumb">
                                <img src="assets/img/fab.jpg" alt="img">
                            </div>
		                    <div class="team-content">
		                        <h3>Fabricio Prado</h3>
		                        <span>Developer</span>
		                    </div>
		                </div>
		            </div><!-- Team-3 -->
		            <div class="col-md-3 col-sm-6 xs-padding wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1000ms">
		                <div class="team-box text-center">
                            <div class="team-thumb">
                                <img src="assets/img/testi3.jpg" alt="img">
                            </div>
		                    <div class="team-content">
		                        <h3>Brisseth Porras</h3>
		                        <span>Marketing</span>
		                    </div>
		                </div>
		            </div><!-- Team-4 -->
		        </div>
		    </div>
		</section><!-- Team Section -->
        <section id="features" class="feature_section gradiant padding">
            <div class="container">
                <div class="section_heading mb-40 align-center">
                    <h2>Fitfat Features</h2>
                    <p>Nuestros aspectos destacados son
                        funciones esenciales <br> que perduran en la era moderna de hoy.</p>
                </div>
                <div class="row feature_wrap">
                    <div class="col-md-3">
                        <ul class="feature_content feature_left align-right">
                            <li class="wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1000ms">
                                <h3>Registro (sign up)</h3>
                                <p>Registro a la aplicación mediante el correo electrónico.</p>
                            </li>
                            <li class="wow fadeInRight" data-wow-delay="150ms" data-wow-duration="1000ms">
                                <h3>Acceso (Sign in)</h3>
                                <p>Acceso la aplicación mediante el correo electrónico.</p>
                            </li>
                            <li class="wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1000ms">
                                <h3>Restabler contraseña</h3>
                                <p>Permite a los usuarios restablecer su contraseña mediante un correo de recuperación de contraseña.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 offset-md-6">
                        <ul class="feature_content feature_right align-left">
                            <li class="wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1000ms">
                                <h3>Registro de alimentos manual</h3>
                                <p>Permite el ingreso manual de alimentos consumidos.</p>
                            </li>
                            <li class="wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1000ms">
                                <h3>Búsqueda de alimentos por BD</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and industry.</p>
                            </li>
                            <li class="wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1000ms">
                                <h3>Plan de entrenamiento y alimenticio</h3>
                                <p>Ofrece un plan de entrenamiento en la versión premium y un plan alimenticio en la versión gratuita.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="iphone_moc"></div>
                </div>
            </div>
        </section>
        
        
        <section id="screenshots" class="screenshot_section bd-bottom padding">
            <div class="container">
                <div class="section_heading mb-40 align-center">
                    <h2>Screenshots</h2>
                    <p>Las capturas de pantalla son un <br> reflejo de nuestra innovadora siteweb de fitness.</p>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="screen_wrap">
                            <div class="swiper-container screen_carousel">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="assets/img/screenshot-1.jpg" alt="App Screen">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="assets/img/screenshot-2.jpg" alt="App Screen">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="assets/img/screenshot-3.jpg" alt="App Screen">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="assets/img/screenshot-4.jpg" alt="App Screen">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="assets/img/screenshot-5.jpg" alt="App Screen">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="assets/img/screenshot-6.jpg" alt="App Screen">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="assets/img/screenshot-7.jpg" alt="App Screen">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="assets/img/screenshot-8.jpg" alt="App Screen">
                                    </div>
                                </div>
                                <div class="screen-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="reviews" class="review-section bg-gradiant padding">
            <div class="container">
                <div class="section-heading mb-60 text-center wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1000ms">
                    <h2>User Reviws</h2>
                    <p>Los testimonios son la voz de nuestros usuarios satisfechos. <br>Cada historia es un reflejo de nuestro compromiso con la salud y el bienestar.</p>
                </div>
                <div id="review-carousel" class="review-carousel owl-carousel">
                    <div class="review-item">
                        <div class="review-thumb">
                           <img src="assets/img/fab.jpg" alt="thumb">
                        </div>
                        <div class="review-content">
                            <h3>Fabricio Prado</h3>
                            <ul class="rattings">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <div class="review-text">
                                <p>"Esta aplicación de fitness cambió mi vida. He perdido 25 kg, y siempre es lo que más quise en el mundo. Desde que obtuve mi cambio, gané respeto, confianza, autoestima y superioridad. El mundo del fitness es lo mejor que pude conocer."</p>
                            </div>
                        </div>
                    </div><!-- Reviews-1 -->
                    <div class="review-item">
                        <div class="review-thumb">
                           <img src="assets/img/testi2.jpg" alt="thumb">
                        </div>
                        <div class="review-content">
                            <h3>Angelina Rose</h3>
                            <ul class="rattings">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <div class="review-text">
                                <p>"¡Increíble! Con esta aplicación, he logrado mis objetivos de fitness más rápido de lo que esperaba. Los resultados que he obtenido son asombrosos, y ahora me siento más saludable, en forma y llena de energía."</p>
                            </div>
                        </div>
                    </div><!-- Reviews-2 -->
                    <div class="review-item">
                        <div class="review-thumb">
                           <img src="assets/img/testi3.jpg" alt="thumb">
                        </div>
                        <div class="review-content">
                            <h3>Brisseth Porras</h3>
                            <ul class="rattings">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <div class="review-text">
                                <p>Recomiendo esta aplicación a cualquiera que quiera llevar su entrenamiento al siguiente nivel. Con su ayuda, he logrado alcanzar un nivel de acondicionamiento físico que nunca creí posible. Esta aplicación ha sido una pieza clave en mi viaje hacia una vida más saludable y activa."</p>
                            </div>
                        </div>
                    </div><!-- Reviews-3 -->
                </div>
            </div>
        </section>
		<section id="pricing" class="pricing-section bd-bottom bg-grey padding">
		    <div class="container">
                <div class="section-heading mb-60 text-center wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1000ms">
                    <h2>Plans & Pricing</h2>
                    <p>Los planes y precios son la representación de nuestro compromiso <br>con la accesibilidad y la transparencia en el fitness.</p>
                </div>
		        <div class="row pricing-wrap">
		            <div class="col-md-4 col-sm-6 sm-padding wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1000ms">
		                <div class="pricing-box text-center">
		                    <div class="pricing-head">
		                        <i class="icon-layers"></i>
		                        <h3>Basic</h3>
		                        <h2>$0<span>month</span></h2>
		                    </div>
		                    <ul class="pricing-info">
		                        <li>Registro de comidas Manual</li>
		                        <li>Registro de comidas BD</li>
		                        <li>Plan alimenticio</li>
                                <li>No Plan de entrenamiento</li>
		                        <li>No Soport</li>
		                    </ul>
		                    <a href="https://fitfat.free.nf/precios.html" class="pricing-btn">Signup Now</a>
		                </div>
		            </div>
		            <div class="col-md-4 col-sm-6 sm-padding wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms">
		                <div class="pricing-box middle text-center">
		                    <div class="pricing-head">
		                        <i class="icon-bulb"></i>
		                        <h3>Premium</h3>
		                        <h2>$10<span>month</span></h2>
		                    </div>
		                    <ul class="pricing-info">
		                        <li>Registro de comidas Manual</li>
		                        <li>Registro de comidas BD</li>
		                        <li>Plan alimenticio</li>
                                <li>Plan de entrenamiento</li>
		                        <li>No Support</li>
		                    </ul>
		                    <a href="https://fitfat.free.nf/precios.html" class="pricing-btn">Signup Now</a>
		                </div>
		            </div>
		            <div class="col-md-4 col-sm-6 sm-padding wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1000ms">
		                <div class="pricing-box text-center">
		                    <div class="pricing-head">
		                        <i class="icon-chemistry"></i>
		                        <h3>Business</h3>
		                        <h2>$30<span>month</span></h2>
		                    </div>
		                    <ul class="pricing-info">
		                        <li>Registro de comidas Manual</li>
		                        <li>Registro de comidas BD</li>
		                        <li>Plan alimenticio</li>
                                <li>Plan de entrenamiento</li>
		                        <li>24/7 Support</li>
		                    </ul>
		                    <a href="https://wa.me/51994355129?text=%C2%A1Hola!%20Recientemente%20he%20revisado%20tu%20landing%20page%20de%20FitFat%20y%20me%20llam%C3%B3%20mucho%20la%20atenci%C3%B3n%20el%20plan%20Business,%20especialmente%20por%20la%20asistencia%2024/7%20que%20ofrece.%20Me%20gustar%C3%ADa%20obtener%20m%C3%A1s%20informaci%C3%B3n%20al%20respecto." class="pricing-btn">Signup Now</a>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>
        <section id="blog" class="blog-section padding">
            <div class="container">
                <div class="section-heading mb-60 text-center wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1000ms">
                    <h2>Latest Stories</h2>
                    <p>Nuestro Blog en FitFat es un espacio para compartir avances. <br>Discutimos la creación de la web, la base de datos y PHP.</p>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 xs-padding wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1000ms">
                        <div class="blog-box">
                            <div class="blog-thumb">
                                <img src="assets/img/blog-1.jpg" alt="img">
                                <div class="post-meta">
                                    <div>
                                        <span><i class="fa fa-user"></i>By: Daiki</span>
                                        <span><i class="fa fa-calendar"></i>Jan 14, 2023</span>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-content">
                                <h3><a href="#">Creación de la pagina web Fitfat</a></h3>
                                <p>FitFat, desarrollada en HTML, CSS, JS y PHP, ofrece registro, acceso, restablecimiento de contraseña, registro de alimentos, búsqueda de alimentos y planes de entrenamiento y alimenticios.</p>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 xs-padding wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms">
                        <div class="blog-box">
                            <div class="blog-thumb">
                                <img src="assets/img/blog-2.jpg" alt="img">
                                <div class="post-meta">
                                    <div>
                                        <span><i class="fa fa-user"></i>By: Daiki</span>
                                        <span><i class="fa fa-calendar"></i>Jan 14, 2023</span>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-content">
                                <h3><a href="#">Implementación de la base de datos</a></h3>
                                <p>FitFat, desarrollada en HTML, CSS, JS y PHP, incorpora una base de datos con tablas de usuarios y comidas. Los datos ya están preinsertados en la tabla de comidas, permitiendo un registro de alimentos eficiente para los usuarios.</p>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 xs-padding wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1000ms">
                        <div class="blog-box">
                            <div class="blog-thumb">
                                <img src="assets/img/blog-3.jpg" alt="img">
                                <div class="post-meta">
                                    <div>
                                        <span><i class="fa fa-user"></i>By: Daiki</span>
                                        <span><i class="fa fa-calendar"></i>Jan 14, 2023</span>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-content">
                                <h3><a href="#">Implementación de PHP</a></h3>
                                <p>FitFat, en su parte de frontend, utiliza PHP para proporcionar una interfaz de usuario interactiva. Los usuarios pueden registrarse, ingresar y restablecer su contraseña mediante su correo electrónico.</p>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="download" class="download_section gradiant padding">
            <div class="container">
                <div class="download_content text-center wow fadeInUp" data-wow-delay="400ms" data-wow-duration="800ms">
                    <h3>Download Fitfat Today</h3>
                    <p>
                        ¡Accede a FitFat y descubre un nuevo enfoque para tu bienestar! <br>¡Eleva tu estilo de vida saludable hoy mismo con FitFat!</p>
                    <div class="download_btn">
                        <a href="https://fitfat.free.nf/index.html"><img src="assets/img/apple.png" alt></a>
                        <a href="https://fitfat.free.nf/index.html"><img src="assets/img/android.png" alt></a>
                    </div>
                </div>
            </div>
        </section>
        
        <div id="subscribe" class="subscribe_section padding">
            <div class="container">
                <div class="subscribe_wrap">
                    <form action="suscribete.php" method="post" class="subscribe_form">
                        <input type="email" name="correo" id="subs-email" class="form_input" placeholder="Enter Your Email Address...">
                        <button type="submit" class="button_1 submit">Suscribete</button>
                        <div id="subscribe-result">
                            <p class="subscription-success"></p>
                            <p class="subscription-error"></p>
                        </div>
                    </form>                      
                </div>
                <div class="clearfix"></div>
                <ul class="social_link">
                    <li><a href="https://wa.me/51994355129?text=%C2%A1Hola!%20Me%20encontr%C3%A9%20con%20tu%20landing%20page%20y%20qued%C3%A9%20realmente%20impresionado/a.%20%C2%A1Me%20encant%C3%B3"><i class="fa fa-whatsapp"></i></a></li>
                    <li><a href="https://www.instagram.com/fab14y/"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.instagram.com/fab14y/"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/fab14y/"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/fab14y/"><i class="fa fa-skype"></i></a></li>
                    <li><a href="https://www.instagram.com/fab14y/"><i class="fa fa-pinterest"></i></a></li>
                </ul>
            </div>
        </div>
        
        <footer class="footer_section align-center">
            <div class="container">
                <p>&copy; 2023 Fitfat, Inc. Todos los derechos reservados.</p>
            </div>
        </footer>
        
        <a data-scroll href="#header" id="scroll-to-top"><i class="arrow_carrot-up"></i></a>
    
</body> 
</html>