<div id="preloader">
  <div class="terminal-loader">
    <div class="terminal-header">
      <div class="terminal-title">Status</div>
      <div class="terminal-controls">
        <div class="control close"></div>
        <div class="control minimize"></div>
        <div class="control maximize"></div>
      </div>
    </div>
    <div class="text">Loading...</div>
  </div>
</div>
<mat-toolbar color="primary" *ngIf="verificar()" @listAnimation>
  <img src="assets/img/logofitfat.png" alt="Logo FitFat" class="logo">
  <button mat-button *ngIf="isAdmin()" [matMenuTriggerFor]="menuUsuario" class="animated-button">
    <fa-icon [icon]="faUser" class="icon-spacing"></fa-icon> Usuarios
  </button>
  <button mat-button *ngIf="isUser() || isAdmin()" [matMenuTriggerFor]="menuTipoComida" class="animated-button">
    <fa-icon [icon]="faBowlFood" class="icon-spacing"></fa-icon> Tipos Comida
  </button>
  <button mat-button *ngIf="isUser() || isAdmin()" [matMenuTriggerFor]="menuDieta" class="animated-button">
    <fa-icon [icon]="faEgg" class="icon-spacing"></fa-icon> Dietas
  </button>
  <button mat-button *ngIf="isUser() || isAdmin()" [matMenuTriggerFor]="menuControl" class="animated-button">
    <fa-icon [icon]="faDumbbell" class="icon-spacing"></fa-icon> Control
  </button>
  <button mat-button *ngIf="isAdmin()" [matMenuTriggerFor]="menuRoles" class="animated-button">
    <fa-icon [icon]="faUser" class="icon-spacing"></fa-icon> Roles
  </button>
  <button mat-button *ngIf="isUser() || isAdmin()" [matMenuTriggerFor]="menuRecetas" class="animated-button">
    <fa-icon [icon]="faUtensils" class="icon-spacing"></fa-icon> Recetas
  </button>
  <button mat-button *ngIf="isUser() || isAdmin()" [matMenuTriggerFor]="menuAlimentos" class="animated-button">
    <fa-icon [icon]="faCarrot" class="icon-spacing"></fa-icon> Alimentos
  </button>
  <button mat-button *ngIf="isUser() || isAdmin()" [matMenuTriggerFor]="menuComidas" class="animated-button">
    <fa-icon [icon]="faBacon" class="icon-spacing"></fa-icon> Comidas
  </button>
  <button mat-button *ngIf="isUser() || isAdmin()" [matMenuTriggerFor]="menuConsultas" class="animated-button">
    <fa-icon [icon]="faQuestion" class="icon-spacing"></fa-icon> Consulta
  </button>
  <button mat-button *ngIf="isUser() || isAdmin()" [matMenuTriggerFor]="menuRespuesta" class="animated-button">
    <fa-icon [icon]="faComment" class="icon-spacing"></fa-icon> Respuesta
  </button>
  <button mat-button *ngIf="isUser() || isAdmin()" [matMenuTriggerFor]="menuObjetivos" class="animated-button">
    <fa-icon [icon]="faMedal" class="icon-spacing"></fa-icon> Objetivos
  </button>
  <button mat-button *ngIf="isUser() || isAdmin()" [matMenuTriggerFor]="menuReportes" class="animated-button">
    <fa-icon [icon]="faCode" class="icon-spacing"></fa-icon> Reportes
  </button>
  <div class="right-menu">
    <button mat-button [matMenuTriggerFor]="menuSalir" style="color: white">
      <mat-icon>person</mat-icon>Usuario
    </button>
  </div>
</mat-toolbar>


<mat-menu #menuUsuario="matMenu">
  <button mat-menu-item routerLink="/usuarios">Listar</button>
  <button mat-menu-item routerLink="/usuarios/nuevo">Nuevo</button>
</mat-menu>

<mat-menu #menuTipoComida="matMenu">
  <button mat-menu-item routerLink="/tipos-comida">Listar</button>
  <button mat-menu-item routerLink="/tipos-comida/nuevo">Nuevo</button>
</mat-menu>

<mat-menu #menuDieta="matMenu">
  <button mat-menu-item routerLink="/dietas">Listar</button>
  <button mat-menu-item routerLink="/dietas/nuevo">Nuevo</button>
</mat-menu>

<mat-menu #menuControl="matMenu">
  <button mat-menu-item routerLink="/control">Listar</button>
  <button mat-menu-item routerLink="/control/nuevo">Nuevo</button>
</mat-menu>

<mat-menu #menuRoles="matMenu">
  <button mat-menu-item routerLink="/roles">Listar</button>
</mat-menu>

<mat-menu #menuRecetas="matMenu">
  <button mat-menu-item routerLink="/recetas">Listar</button>
  <button mat-menu-item routerLink="/recetas/nuevo">Nuevo</button>
</mat-menu>

<mat-menu #menuAlimentos="matMenu">
  <button mat-menu-item routerLink="/alimentos">Listar</button>
  <button mat-menu-item routerLink="/alimentos/nuevo">Nuevo</button>
</mat-menu>

<mat-menu #menuComidas="matMenu">
  <button mat-menu-item routerLink="/comidas">Listar</button>
  <button mat-menu-item routerLink="/comidas/nuevo">Nuevo</button>
</mat-menu>

<mat-menu #menuConsultas="matMenu">
  <button mat-menu-item routerLink="/consulta">Listar</button>
</mat-menu>

<mat-menu #menuRespuesta="matMenu">
  <button mat-menu-item routerLink="/respuesta">Listar</button>
</mat-menu>

<mat-menu #menuObjetivos="matMenu">
  <button mat-menu-item routerLink="/objetivos">Listar</button>
  <button mat-menu-item routerLink="/objetivos/nuevo">Nuevo</button>
</mat-menu>

<mat-menu #menuReportes="matMenu">
  <button mat-menu-item routerLink="/reportes" class="custom-menu-item">
    <mat-icon>pie_chart</mat-icon>Reporte Cantidad
  </button>
  <button mat-menu-item routerLink="/reportes/comidafavorita" class="custom-menu-item">
    <mat-icon>bar_chart</mat-icon>Reporte Comida Favorita
  </button>
  <button mat-menu-item routerLink="/reportes/contar-usuarios" class="custom-menu-item">
    <mat-icon>bar_chart</mat-icon>Reporte usuariosActivosInactivos
  </button>
  <button mat-menu-item routerLink="/reportes/usuarios-por-rol" class="custom-menu-item">
    <mat-icon>bar_chart</mat-icon>Reporte usuariosPorRol
  </button>
  <button mat-menu-item routerLink="/reportes/tipo-de-comida" class="custom-menu-item">
    <mat-icon>bar_chart</mat-icon>Reporte Tipo de comida
  </button>
  <button mat-menu-item routerLink="/reportes/obtener-fecha-por-estado" class="custom-menu-item">
    <mat-icon>bar_chart</mat-icon>Reporte Fecha por estado
  </button>
  <button mat-menu-item routerLink="/reportes/duracion-de-fecha-por-tipo" class="custom-menu-item">
    <mat-icon>bar_chart</mat-icon>Reporte Duracion de fecha por tipo
  </button>
  <button mat-menu-item routerLink="/reportes/contar-recetas-por-comida" class="custom-menu-item">
    <mat-icon>bar_chart</mat-icon>Reporte Contar Recetas por Comida
  </button>
  <button mat-menu-item routerLink="/reportes/suma-descrip-de-receta-de-comida" class="custom-menu-item">
    <mat-icon>pie_chart</mat-icon>Reporte Suma de logintud de descripciones
  </button>
  <button mat-menu-item routerLink="/reportes/contar-control-por-dieta" class="custom-menu-item">
    <mat-icon>bar_chart</mat-icon>Reporte Contar Control por Dieta
  </button>
  <button mat-menu-item routerLink="/reportes/contar-control-por-genero" class="custom-menu-item">
    <mat-icon>pie_chart</mat-icon>Reporte Contar Control por Genero
  </button>
  <button mat-menu-item routerLink="/reportes/contar-alimentos-por-dieta" class="custom-menu-item">
    <mat-icon>bar_chart</mat-icon>Reporte Contar Alimentos por Dieta
  </button>
  <button mat-menu-item routerLink="/reportes/sumar-total-calorias-por-dieta" class="custom-menu-item">
    <mat-icon>pie_chart</mat-icon>Reporte Sumar total calorias por Dieta
  </button>
</mat-menu>
<mat-menu #menuSalir="matMenu">
  <button
    mat-menu-item
    routerLink="/login"
    (click)="cerrar()"
    class="custom-menu-item"
  >
    <mat-icon>logout</mat-icon>
    <span>Cerrar sesión</span>
  </button>
  <button mat-menu-item class="custom-menu-item">
    Rol:
    <span>{{ role }}</span>
  </button>
</mat-menu>

<router-outlet></router-outlet>


